node_red_flows/bedroom.json
[
    {
        "id": "0ed3545c4583e0cf",
        "type": "tab",
        "label": "Bedroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2149d9159bf96e7",
        "type": "server-state-changed",
        "z": "0ed3545c4583e0cf",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.sm_s906e_charger_type_2"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "ac",
        "ifStateType": "str",
        "ifStateOperator": "is_not",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 230,
        "y": 80,
        "wires": [
            [
                "f8e952cf27a4e6c6"
            ],
            []
        ]
    },
    {
        "id": "f8e952cf27a4e6c6",
        "type": "api-current-state",
        "z": "0ed3545c4583e0cf",
        "name": "Fan on?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.plug_blue",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "ac42ae5e21580f54"
            ],
            []
        ]
    },
    {
        "id": "ac42ae5e21580f54",
        "type": "api-call-service",
        "z": "0ed3545c4583e0cf",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.plug_blue"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 800,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "178754b9.fedf4b",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "ae2743c02d67e014",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]