node_red_flows/node_red_aircon_flow.json
[
    {
        "id": "d592c49eef4da304",
        "type": "tab",
        "label": "Aircon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57ad1d6c6ed590bc",
        "type": "eztimer",
        "z": "d592c49eef4da304",
        "name": "",
        "debug": false,
        "autoname": "22:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "-33.796386",
        "lon": "151.112123",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "22:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "3",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 110,
        "y": 1220,
        "wires": [
            [
                "1ee22702b606e4d7"
            ]
        ]
    },
    {
        "id": "1ee22702b606e4d7",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Bedroom Temperature <=19",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "19",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.temp_sensor_temperature",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "f8745bc585db6272"
            ],
            [
                "834b76be7cb5f7a5"
            ]
        ]
    },
    {
        "id": "7b08df475e4359d6",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon at Bedtime",
        "info": "",
        "x": 140,
        "y": 1180,
        "wires": []
    },
    {
        "id": "c3dbb7bd46cd1eb3",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Bedroom Temperature > 19.5",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.temp_sensor_temperature"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "19.5",
        "ifStateType": "num",
        "ifStateOperator": "gt",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 181,
        "y": 1426,
        "wires": [
            [
                "9daf184ec4d5b0fa"
            ],
            []
        ]
    },
    {
        "id": "834b76be7cb5f7a5",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Bedroom Temperature > 25",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "25",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.temp_sensor_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 620,
        "y": 1260,
        "wires": [
            [
                "6ce0a79ff31ecf3a"
            ],
            []
        ]
    },
    {
        "id": "9daf184ec4d5b0fa",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Heating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "heat",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 400,
        "y": 1420,
        "wires": [
            [
                "65c56ac3e1b6b3cd"
            ],
            [
                "6b4217df0d9e07ee",
                "ff1024160d14def2"
            ]
        ]
    },
    {
        "id": "3dfdf276833ceec7",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Bedroom Temperature <=23.8",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "23.8",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.temp_sensor_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 791,
        "y": 1446,
        "wires": [
            [
                "0e2b14aa7b14fd8f"
            ],
            []
        ]
    },
    {
        "id": "6b4217df0d9e07ee",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Cooling?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 561,
        "y": 1446,
        "wires": [
            [
                "3dfdf276833ceec7"
            ],
            []
        ]
    },
    {
        "id": "8d00a4355ce22000",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"hvac_mode\": \"heat\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 1550,
        "y": 140,
        "wires": [
            [
                "887330de427ffb64"
            ]
        ]
    },
    {
        "id": "887330de427ffb64",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Fan Mode Auto",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": true,
        "action": "climate.set_fan_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"fan_mode\": \"Auto\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_fan_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 1800,
        "y": 100,
        "wires": [
            [
                "024550d8881ebc1f"
            ]
        ]
    },
    {
        "id": "024550d8881ebc1f",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Temp Set to 22 (warming)",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": true,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{\"temperature\":22}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "output_location": "",
        "output_location_type": "none",
        "x": 2010,
        "y": 60,
        "wires": [
            [
                "58217fb1481fb4a9"
            ]
        ]
    },
    {
        "id": "102a1436c9738e2d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Heating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.heat_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "3b21c454cbe55370"
            ]
        ]
    },
    {
        "id": "d741acff768d908f",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Cooling Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.cool_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "58217fb1481fb4a9",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 2230,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c371580b1a9bb32a",
        "type": "link in",
        "z": "d592c49eef4da304",
        "name": "Heat",
        "links": [
            "f8745bc585db6272",
            "ce137a03dccb9a23",
            "2c4c4feac6f59e44"
        ],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "84e3a2ebe5ccd9cb"
            ]
        ]
    },
    {
        "id": "9eb2f2f6e3f2be80",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"hvac_mode\": \"cool\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 1710,
        "y": 440,
        "wires": [
            [
                "7553f1f99f40de45"
            ]
        ]
    },
    {
        "id": "228020430b2144cd",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Fan Mode High",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_fan_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"fan_mode\": \"High\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_fan_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 2120,
        "y": 380,
        "wires": [
            [
                "953a5b64f9126c9d"
            ]
        ]
    },
    {
        "id": "953a5b64f9126c9d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Temp Set to 19.8 (cooling)",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"temperature\": 19.8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "output_location": "",
        "output_location_type": "none",
        "x": 2350,
        "y": 380,
        "wires": [
            [
                "118e42497241a7a0"
            ]
        ]
    },
    {
        "id": "118e42497241a7a0",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 2590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "58477c6f0d36431e",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.cool_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "0e4a8682f2400a0f"
            ]
        ]
    },
    {
        "id": "ea202fad9974340e",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Heating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.heat_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 790,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a7b5cbe14194fee8",
        "type": "link in",
        "z": "d592c49eef4da304",
        "name": "Cooling",
        "links": [
            "6ce0a79ff31ecf3a",
            "33f7f289a95c0356",
            "ee49e0969627bf25"
        ],
        "x": 75,
        "y": 400,
        "wires": [
            [
                "e516cf774134f7d5"
            ]
        ]
    },
    {
        "id": "90a164b1c7a45ff6",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "102a1436c9738e2d",
                "d741acff768d908f"
            ]
        ]
    },
    {
        "id": "84e3a2ebe5ccd9cb",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "AC Activating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.ac_activating",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 200,
        "y": 120,
        "wires": [
            [],
            [
                "90a164b1c7a45ff6"
            ]
        ]
    },
    {
        "id": "65532b085d69d2c8",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "58477c6f0d36431e",
                "ea202fad9974340e"
            ]
        ]
    },
    {
        "id": "834a1414fb1aec9e",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "AC Activating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.ac_activating",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 380,
        "y": 420,
        "wires": [
            [],
            [
                "65532b085d69d2c8"
            ]
        ]
    },
    {
        "id": "7c7941361c2b4b58",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Heating On",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "a101a11d8240cc17",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "f8745bc585db6272",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "c371580b1a9bb32a"
        ],
        "x": 515,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6ce0a79ff31ecf3a",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "a7b5cbe14194fee8"
        ],
        "x": 795,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ce137a03dccb9a23",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "c371580b1a9bb32a"
        ],
        "x": 335,
        "y": 920,
        "wires": []
    },
    {
        "id": "33f7f289a95c0356",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "a7b5cbe14194fee8"
        ],
        "x": 335,
        "y": 840,
        "wires": []
    },
    {
        "id": "734327c2375d537c",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "info": "",
        "x": 880,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e1bd53ed9baa22e7",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Heating On",
        "info": "",
        "x": 610,
        "y": 1200,
        "wires": []
    },
    {
        "id": "dd67244b18cc17bc",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Heating On",
        "info": "",
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "d2d6f7edbf9f4bd3",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "info": "",
        "x": 420,
        "y": 840,
        "wires": []
    },
    {
        "id": "63ebe4c26aed3d9c",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Manual Overrides",
        "info": "",
        "x": 160,
        "y": 800,
        "wires": []
    },
    {
        "id": "99bb433088aa7b1c",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Temp Changes",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "258f30e0fa680f69",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 120,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c9c8151e7420158",
        "type": "link in",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "links": [
            "0e2b14aa7b14fd8f",
            "0531b0f9a4955fc6",
            "58937e579ac13b5a",
            "74b68d1c593e70b5",
            "5c207c47980b2fdf"
        ],
        "x": 75,
        "y": 700,
        "wires": [
            [
                "a9e5506e27c470a4"
            ]
        ]
    },
    {
        "id": "a9e5506e27c470a4",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "AC Activating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.ac_activating",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 200,
        "y": 700,
        "wires": [
            [],
            [
                "dd40f8a75fb67d62"
            ]
        ]
    },
    {
        "id": "dd40f8a75fb67d62",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "33d3200274e5dfab"
            ]
        ]
    },
    {
        "id": "36cdeb0120a74aca",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "5c9e9dd60bd66ec3"
            ]
        ]
    },
    {
        "id": "33d3200274e5dfab",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Cooling Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.cool_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "cb67b85763b4f6e4"
            ]
        ]
    },
    {
        "id": "cb67b85763b4f6e4",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Heating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.heat_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "82e1e59d37d33a94"
            ]
        ]
    },
    {
        "id": "0e2b14aa7b14fd8f",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "6c9c8151e7420158"
        ],
        "x": 975,
        "y": 1400,
        "wires": []
    },
    {
        "id": "84f4841418805412",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 1060,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0531b0f9a4955fc6",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "6c9c8151e7420158"
        ],
        "x": 335,
        "y": 960,
        "wires": []
    },
    {
        "id": "5c8da5722d7c9a48",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 420,
        "y": 960,
        "wires": []
    },
    {
        "id": "d0ce4b863dac0c43",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "58937e579ac13b5a",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "6c9c8151e7420158"
        ],
        "x": 335,
        "y": 880,
        "wires": []
    },
    {
        "id": "8427b2f4fc0fcb5f",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Heat Button Override",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.heat_room"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Reading",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 940,
        "wires": [
            [
                "ce137a03dccb9a23"
            ],
            [
                "0531b0f9a4955fc6"
            ]
        ]
    },
    {
        "id": "84874d7a237f3886",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Cool Button Override",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.cool_room"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Reading",
                "valueType": "str"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 860,
        "wires": [
            [
                "33f7f289a95c0356"
            ],
            [
                "58937e579ac13b5a"
            ]
        ]
    },
    {
        "id": "0e4a8682f2400a0f",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Aircon is Cooling?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 990,
        "y": 400,
        "wires": [
            [
                "228020430b2144cd"
            ],
            [
                "32305ec3ecb177d7"
            ]
        ]
    },
    {
        "id": "3b21c454cbe55370",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Heating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "heat",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "887330de427ffb64"
            ],
            [
                "a2e4ac37483903c1"
            ]
        ]
    },
    {
        "id": "82e1e59d37d33a94",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Off already?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 950,
        "y": 700,
        "wires": [
            [
                "36cdeb0120a74aca"
            ],
            [
                "b7820e69aeb50b7d"
            ]
        ]
    },
    {
        "id": "b7820e69aeb50b7d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Turn off Aircon",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "turn_off",
        "x": 1120,
        "y": 740,
        "wires": [
            [
                "36cdeb0120a74aca"
            ]
        ]
    },
    {
        "id": "4c225f8f22143dc5",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Aircon Change",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "climate.aircon"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "e73a0f0b8b1fa3df"
            ]
        ]
    },
    {
        "id": "713e8bf9af0a0c84",
        "type": "switch",
        "z": "d592c49eef4da304",
        "name": "Aircon state change",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat_cool",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "74b68d1c593e70b5"
            ],
            [
                "ee49e0969627bf25"
            ],
            [
                "ee49e0969627bf25"
            ],
            [
                "2c4c4feac6f59e44"
            ],
            [
                "5c207c47980b2fdf"
            ]
        ]
    },
    {
        "id": "ee49e0969627bf25",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "a7b5cbe14194fee8"
        ],
        "x": 855,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8e5c0d6ff794e7ac",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "info": "",
        "x": 940,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d6411f7e87ce57b3",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "74b68d1c593e70b5",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "6c9c8151e7420158"
        ],
        "x": 855,
        "y": 1000,
        "wires": []
    },
    {
        "id": "506ae55ca1f2f5da",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Dry (Fan) On",
        "info": "",
        "x": 1070,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2c4c4feac6f59e44",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "c371580b1a9bb32a"
        ],
        "x": 855,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a608818ba5fd32c6",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Heating On",
        "info": "",
        "x": 950,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e73a0f0b8b1fa3df",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "AC Activating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.ac_activating",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 1040,
        "wires": [
            [],
            [
                "7319e09a3a2b14a5"
            ]
        ]
    },
    {
        "id": "7319e09a3a2b14a5",
        "type": "time-of-day",
        "z": "d592c49eef4da304",
        "name": "8am",
        "startTime": "07:58:00",
        "endTime": "08:05:00",
        "outputs": 2,
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "1586fdc09bd57cf0"
            ],
            [
                "713e8bf9af0a0c84"
            ]
        ]
    },
    {
        "id": "1586fdc09bd57cf0",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Aircon on?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 670,
        "y": 980,
        "wires": [
            [
                "74b68d1c593e70b5"
            ],
            []
        ]
    },
    {
        "id": "f92d41f69b248b5c",
        "type": "link in",
        "z": "d592c49eef4da304",
        "name": "Cooling",
        "links": [
            "c138dc3ffb28d54f"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "35c3d04246faae93"
            ]
        ]
    },
    {
        "id": "9254abfa9b799943",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "471d5fcab26830e2",
                "fceb4a1e11e1108a"
            ]
        ]
    },
    {
        "id": "35c3d04246faae93",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "AC Activating?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.ac_activating",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 200,
        "y": 240,
        "wires": [
            [],
            [
                "9254abfa9b799943"
            ]
        ]
    },
    {
        "id": "f1ef0a30bdaa3173",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Dry On",
        "info": "",
        "x": 110,
        "y": 200,
        "wires": []
    },
    {
        "id": "e516cf774134f7d5",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Humid?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "60",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.temp_sensor_humidity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "c138dc3ffb28d54f"
            ],
            [
                "834a1414fb1aec9e"
            ]
        ]
    },
    {
        "id": "c138dc3ffb28d54f",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f92d41f69b248b5c"
        ],
        "x": 315,
        "y": 380,
        "wires": []
    },
    {
        "id": "344779e739aed4ce",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Dry On",
        "info": "",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "32305ec3ecb177d7",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Off already?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "9eb2f2f6e3f2be80"
            ],
            [
                "0b94837e1b8f5767"
            ]
        ]
    },
    {
        "id": "0b94837e1b8f5767",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Turn off Aircon",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "turn_off",
        "x": 1340,
        "y": 480,
        "wires": [
            [
                "63b3024064521b59"
            ]
        ]
    },
    {
        "id": "a2e4ac37483903c1",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Off already?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "8d00a4355ce22000"
            ],
            [
                "ed825fd25d153cbf"
            ]
        ]
    },
    {
        "id": "ed825fd25d153cbf",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Turn off Aircon",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "turn_off",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "8d00a4355ce22000"
            ]
        ]
    },
    {
        "id": "471d5fcab26830e2",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Cooling On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.cool_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "4ea17d4301209170"
            ]
        ]
    },
    {
        "id": "fceb4a1e11e1108a",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Heating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.heat_room"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea17d4301209170",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Aircon is Drying?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "dry",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "9e9c08f47b77802a"
            ],
            [
                "199ed3ce16ceb5c7"
            ]
        ]
    },
    {
        "id": "199ed3ce16ceb5c7",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Off already?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 970,
        "y": 280,
        "wires": [
            [
                "e1e37ed789d3585d"
            ],
            [
                "6a8b2a3d2217ae54"
            ]
        ]
    },
    {
        "id": "6a8b2a3d2217ae54",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Turn off Aircon",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "turn_off",
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "e1e37ed789d3585d"
            ]
        ]
    },
    {
        "id": "e1e37ed789d3585d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"hvac_mode\": \"dry\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "9e9c08f47b77802a"
            ]
        ]
    },
    {
        "id": "9e9c08f47b77802a",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Fan Mode High",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_fan_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"fan_mode\": \"High\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_fan_mode",
        "output_location": "",
        "output_location_type": "none",
        "x": 1600,
        "y": 220,
        "wires": [
            [
                "fc048f8658532297"
            ]
        ]
    },
    {
        "id": "fc048f8658532297",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Temp Set to 19.8 (cooling)",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c15d3ad60a983023d3ac499ba6299f20"
        ],
        "entityId": [
            "climate.aircon"
        ],
        "labelId": [],
        "data": "{ \"temperature\": 19.8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "output_location": "",
        "output_location_type": "none",
        "x": 1810,
        "y": 220,
        "wires": [
            [
                "d4edab441f6c263d"
            ]
        ]
    },
    {
        "id": "d4edab441f6c263d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "AC Activating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.ac_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 2030,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "40c3eb376ef0daa2",
        "type": "inject",
        "z": "d592c49eef4da304",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 60,
        "wires": [
            [
                "90a164b1c7a45ff6"
            ]
        ]
    },
    {
        "id": "ff1024160d14def2",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Dry?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "dry",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.aircon",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 1500,
        "wires": [
            [
                "3dfdf276833ceec7"
            ],
            []
        ]
    },
    {
        "id": "c063329ff58980fd",
        "type": "inject",
        "z": "d592c49eef4da304",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1960,
        "y": 320,
        "wires": [
            [
                "228020430b2144cd"
            ]
        ]
    },
    {
        "id": "7553f1f99f40de45",
        "type": "delay",
        "z": "d592c49eef4da304",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1920,
        "y": 440,
        "wires": [
            [
                "228020430b2144cd"
            ]
        ]
    },
    {
        "id": "63b3024064521b59",
        "type": "delay",
        "z": "d592c49eef4da304",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 480,
        "wires": [
            [
                "9eb2f2f6e3f2be80"
            ]
        ]
    },
    {
        "id": "a97ca08f20c1f0b5",
        "type": "eztimer",
        "z": "d592c49eef4da304",
        "name": "",
        "debug": false,
        "autoname": "21:30",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "-33.796386",
        "lon": "151.112123",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "21:30",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "3",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 110,
        "y": 1780,
        "wires": [
            [
                "ce082148d869b590"
            ]
        ]
    },
    {
        "id": "ce082148d869b590",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Purifier Activating On",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.purifier_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 320,
        "y": 1780,
        "wires": [
            [
                "3a8c66fc6da06cda"
            ]
        ]
    },
    {
        "id": "20b60624aa0ec8f2",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Purifier Auto",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "fan.set_preset_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "fan.core_300s"
        ],
        "labelId": [],
        "data": "{\"preset_mode\":\"auto\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "fan",
        "service": "set_preset_mode",
        "x": 990,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "750f837013dcc32d",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Turn off Purifier",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "fan.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "fan.core_300s"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "fan",
        "service": "turn_off",
        "x": 320,
        "y": 1880,
        "wires": [
            [
                "eccee4455fe1b3bb"
            ]
        ]
    },
    {
        "id": "efa07576500c8b3a",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Purifier Sleep",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "fan.set_preset_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "fan.core_300s"
        ],
        "labelId": [],
        "data": "{\"preset_mode\":\"sleep\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "fan",
        "service": "set_preset_mode",
        "x": 1000,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "d452c7b4fb9c7d64",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Phone Charging?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "ac",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.sm_s926b_charger_type",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 790,
        "y": 1800,
        "wires": [
            [
                "efa07576500c8b3a"
            ],
            [
                "20b60624aa0ec8f2"
            ]
        ]
    },
    {
        "id": "dd798e3f68ddce8d",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Dawns Phone Plugged in?",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.sm_s906e_charger_type_2"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "ac",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "1706ddcac4d4773c"
            ],
            []
        ]
    },
    {
        "id": "a7e0e089470e5e06",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "Grahams Phone Plugged in?",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.sm_s926b_charger_type"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "ac",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "1706ddcac4d4773c"
            ],
            []
        ]
    },
    {
        "id": "c2af921ecfeb67fc",
        "type": "eztimer",
        "z": "d592c49eef4da304",
        "name": "",
        "debug": false,
        "autoname": "06:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "-33.796386",
        "lon": "151.112123",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "06:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "3",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 110,
        "y": 1880,
        "wires": [
            [
                "750f837013dcc32d"
            ]
        ]
    },
    {
        "id": "eccee4455fe1b3bb",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Purifier Activating Off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.purifier_activating"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 560,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "5c9e9dd60bd66ec3",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 17",
        "mode": "link",
        "links": [],
        "x": 1485,
        "y": 700,
        "wires": []
    },
    {
        "id": "1706ddcac4d4773c",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Purifier Active?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.purifier_activating",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "76654ae5492d8555"
            ],
            []
        ]
    },
    {
        "id": "3a8c66fc6da06cda",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Humid over 80",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "80",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.temp_sensor_humidity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 1780,
        "wires": [
            [
                "65c62c3d3110622e",
                "4a13158517fbf4a9"
            ],
            [
                "d452c7b4fb9c7d64"
            ]
        ]
    },
    {
        "id": "65c62c3d3110622e",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Notify too humid",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_sm_s926b",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Bedroom Purifier\",\"message\":\"Purifier disabled, Over 80% Humidity.\",\"data\":{\"color\":\"#2DF56D\"}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_sm_s926b",
        "x": 780,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "4a13158517fbf4a9",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Notify too humid",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_sm_s906e",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Bedroom Purifier\",\"message\":\"Purifier disabled, Over 80% Humidity.\",\"data\":{\"color\":\"#2DF56D\"}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_sm_s906e",
        "x": 780,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "9d6b7440e2c32f66",
        "type": "server-state-changed",
        "z": "d592c49eef4da304",
        "name": "filter 96",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.core_300s_filter_lifetime"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "80,60,40,20",
        "ifStateType": "str",
        "ifStateOperator": "includes",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "d911effb01f1111b"
            ],
            []
        ]
    },
    {
        "id": "8d9e936cf35f4e4b",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "vaccum trigger",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.toggle",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.purifier_vacuum"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "toggle",
        "x": 560,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "ea5ca01c8ad963a1",
        "type": "inject",
        "z": "d592c49eef4da304",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 2060,
        "wires": [
            [
                "d911effb01f1111b"
            ]
        ]
    },
    {
        "id": "d911effb01f1111b",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "vacuum Active?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.purifier_vacuum",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 2000,
        "wires": [
            [
                "8d9e936cf35f4e4b"
            ],
            []
        ]
    },
    {
        "id": "5c207c47980b2fdf",
        "type": "link out",
        "z": "d592c49eef4da304",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "6c9c8151e7420158"
        ],
        "x": 855,
        "y": 1160,
        "wires": []
    },
    {
        "id": "52c4d710110445b9",
        "type": "comment",
        "z": "d592c49eef4da304",
        "name": "Aircon Off",
        "info": "",
        "x": 940,
        "y": 1160,
        "wires": []
    },
    {
        "id": "65c56ac3e1b6b3cd",
        "type": "time-of-day",
        "z": "d592c49eef4da304",
        "name": "Daytime",
        "startTime": "08:06:00",
        "endTime": "21:00:00",
        "outputs": 2,
        "x": 560,
        "y": 1400,
        "wires": [
            [
                "46f37e602f0b0aca"
            ],
            [
                "0e2b14aa7b14fd8f"
            ]
        ]
    },
    {
        "id": "46f37e602f0b0aca",
        "type": "api-current-state",
        "z": "d592c49eef4da304",
        "name": "Bedroom Temperature >21",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "21",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.temp_sensor_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "0e2b14aa7b14fd8f"
            ],
            []
        ]
    },
    {
        "id": "76654ae5492d8555",
        "type": "api-call-service",
        "z": "d592c49eef4da304",
        "name": "Purifier Sleep",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "fan.set_preset_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "fan.core_300s"
        ],
        "labelId": [],
        "data": "{\"preset_mode\":\"sleep\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "fan",
        "service": "set_preset_mode",
        "x": 620,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "178754b9.fedf4b",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "05b2c161cf9d0830",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-eztimer": "1.2.7",
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-time-of-day": "0.0.4"
        }
    }
]