node_red_flows/node_red_lights_sub_flow.json
[
    {
        "id": "e7e0a0a3fe1450ab",
        "type": "subflow",
        "name": "Light On",
        "info": "",
        "category": "home_assistant entities",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "71811f56dfa6791d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "max_percentage",
                "type": "num",
                "value": "100"
            },
            {
                "name": "entity_id",
                "type": "str",
                "value": "light.hue_ambiance_lamp_1"
            },
            {
                "name": "kelvin",
                "type": "num",
                "value": "3000"
            },
            {
                "name": "transition",
                "type": "num",
                "value": "2"
            },
            {
                "name": "min_percentage",
                "type": "num",
                "value": "10"
            },
            {
                "name": "lock_sensor",
                "type": "str",
                "value": "binary_sensor"
            },
            {
                "name": "lock_override",
                "type": "str",
                "value": "0"
            }
        ],
        "meta": {},
        "color": "#E7E7AE",
        "icon": "node-red/light.svg"
    },
    {
        "id": "f832a942c4a42ff9",
        "type": "api-current-state",
        "z": "e7e0a0a3fe1450ab",
        "name": "Lux getting dark?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "50",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.luxsensor_illuminance",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "7d3cd6ace38571bb"
            ],
            []
        ]
    },
    {
        "id": "7d3cd6ace38571bb",
        "type": "range",
        "z": "e7e0a0a3fe1450ab",
        "minin": "0",
        "maxin": "50",
        "minout": "$(max_percentage)",
        "maxout": "$(min_percentage)",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Scale Lux to percentage",
        "x": 950,
        "y": 80,
        "wires": [
            [
                "46d8d79fc8516ad7"
            ]
        ]
    },
    {
        "id": "46d8d79fc8516ad7",
        "type": "function",
        "z": "e7e0a0a3fe1450ab",
        "name": "get light",
        "func": "let brightness_pct = msg.payload;\nlet eID = env.get(\"entity_id\");\nlet transition = env.get(\"transition\");\nlet kelvin = env.get(\"kelvin\");\n\nmsg.data = {\n    \"entity_id\":eID,\n        \"brightness_pct\":brightness_pct,\n        \"transition\":transition,\n        \"kelvin\":kelvin\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "3af51613b9a5c023"
            ]
        ]
    },
    {
        "id": "c5b45262.59ada",
        "type": "api-call-service",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{flow.light_entity}}"
        ],
        "labelId": [],
        "data": "{\"brightness_pct\":{{payload.brightness_pct}}, \"transition\":{{payload.transition}} , \"color_temp_kelvin\":{{payload.kelvin}}   }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "output_location": "",
        "output_location_type": "none",
        "x": 1670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3af51613b9a5c023",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "light_entity",
                "pt": "flow",
                "to": "${entity_id}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 80,
        "wires": [
            [
                "36121566a7df5d51"
            ]
        ]
    },
    {
        "id": "36121566a7df5d51",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 80,
        "wires": [
            [
                "c5b45262.59ada"
            ]
        ]
    },
    {
        "id": "71811f56dfa6791d",
        "type": "function",
        "z": "e7e0a0a3fe1450ab",
        "name": "get lock",
        "func": "\nlet LockID = env.get(\"lock_sensor\");\n\nmsg.data = {\n    \"lock_sensor\":LockID\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 80,
        "wires": [
            [
                "1d9a25a17aa6ba88"
            ]
        ]
    },
    {
        "id": "1d9a25a17aa6ba88",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lock_sensor",
                "pt": "flow",
                "to": "${lock_sensor}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "6852f52d3913dd2f"
            ]
        ]
    },
    {
        "id": "6852f52d3913dd2f",
        "type": "switch",
        "z": "e7e0a0a3fe1450ab",
        "name": "Light Locked?",
        "property": "lock_override",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "f832a942c4a42ff9"
            ],
            []
        ]
    },
    {
        "id": "178754b9.fedf4b",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "42ab486cc2ca6d22",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]