node_red_flows/office.json
[
    {
        "id": "954d68603b93f059",
        "type": "subflow",
        "name": "Light Off",
        "info": "",
        "category": "home_assistant entities",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "b5f976412dc199e7"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "entity_id",
                "type": "str",
                "value": "light.hue_ambiance_lamp_1"
            },
            {
                "name": "transition",
                "type": "num",
                "value": "2"
            }
        ],
        "meta": {},
        "color": "#E9967A",
        "icon": "node-red/light.svg"
    },
    {
        "id": "b77fac9ca071ed91",
        "type": "function",
        "z": "954d68603b93f059",
        "name": "function 1",
        "func": "let brightness_pct = 0;\nlet eID = env.get(\"entity_id\");\nlet transition = env.get(\"transition\");\n\n\nmsg.data = {\n    \"entity_id\":eID,\n        \"brightness_pct\":brightness_pct,\n        \"transition\":transition\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "31f57b7ab3d08c5e"
            ]
        ]
    },
    {
        "id": "93e43b8eacb84f71",
        "type": "api-call-service",
        "z": "954d68603b93f059",
        "name": "Turn off",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{flow.light_entity}}"
        ],
        "labelId": [],
        "data": "{ \"transition\":{{payload.transition}}  }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_off",
        "output_location": "",
        "output_location_type": "none",
        "x": 920,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "31f57b7ab3d08c5e",
        "type": "change",
        "z": "954d68603b93f059",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "light_entity",
                "pt": "flow",
                "to": "${entity_id}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "9236fdfee5e6d0d3"
            ]
        ]
    },
    {
        "id": "9236fdfee5e6d0d3",
        "type": "change",
        "z": "954d68603b93f059",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 80,
        "wires": [
            [
                "93e43b8eacb84f71"
            ]
        ]
    },
    {
        "id": "b5f976412dc199e7",
        "type": "api-current-state",
        "z": "954d68603b93f059",
        "name": "Not manual mode?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.lights_manual",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "ha_boolean",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "b77fac9ca071ed91"
            ],
            []
        ]
    },
    {
        "id": "e7e0a0a3fe1450ab",
        "type": "subflow",
        "name": "Light On",
        "info": "",
        "category": "home_assistant entities",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "71811f56dfa6791d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "max_percentage",
                "type": "num",
                "value": "100"
            },
            {
                "name": "entity_id",
                "type": "str",
                "value": "light.hue_ambiance_lamp_1"
            },
            {
                "name": "kelvin",
                "type": "num",
                "value": "3000"
            },
            {
                "name": "transition",
                "type": "num",
                "value": "2"
            },
            {
                "name": "min_percentage",
                "type": "num",
                "value": "10"
            },
            {
                "name": "lock_sensor",
                "type": "str",
                "value": "binary_sensor"
            },
            {
                "name": "lock_override",
                "type": "str",
                "value": "0"
            }
        ],
        "meta": {},
        "color": "#E7E7AE",
        "icon": "node-red/light.svg"
    },
    {
        "id": "f832a942c4a42ff9",
        "type": "api-current-state",
        "z": "e7e0a0a3fe1450ab",
        "name": "Lux getting dark?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "50",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.luxsensor_illuminance",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "7d3cd6ace38571bb"
            ],
            []
        ]
    },
    {
        "id": "7d3cd6ace38571bb",
        "type": "range",
        "z": "e7e0a0a3fe1450ab",
        "minin": "0",
        "maxin": "50",
        "minout": "$(max_percentage)",
        "maxout": "$(min_percentage)",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Scale Lux to percentage",
        "x": 950,
        "y": 80,
        "wires": [
            [
                "46d8d79fc8516ad7"
            ]
        ]
    },
    {
        "id": "46d8d79fc8516ad7",
        "type": "function",
        "z": "e7e0a0a3fe1450ab",
        "name": "get light",
        "func": "let brightness_pct = msg.payload;\nlet eID = env.get(\"entity_id\");\nlet transition = env.get(\"transition\");\nlet kelvin = env.get(\"kelvin\");\n\nmsg.data = {\n    \"entity_id\":eID,\n        \"brightness_pct\":brightness_pct,\n        \"transition\":transition,\n        \"kelvin\":kelvin\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "3af51613b9a5c023"
            ]
        ]
    },
    {
        "id": "c5b45262.59ada",
        "type": "api-call-service",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{flow.light_entity}}"
        ],
        "labelId": [],
        "data": "{\"brightness_pct\":{{payload.brightness_pct}}, \"transition\":{{payload.transition}} , \"color_temp_kelvin\":{{payload.kelvin}}   }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "output_location": "",
        "output_location_type": "none",
        "x": 1670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3af51613b9a5c023",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "light_entity",
                "pt": "flow",
                "to": "${entity_id}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 80,
        "wires": [
            [
                "36121566a7df5d51"
            ]
        ]
    },
    {
        "id": "36121566a7df5d51",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 80,
        "wires": [
            [
                "c5b45262.59ada"
            ]
        ]
    },
    {
        "id": "71811f56dfa6791d",
        "type": "function",
        "z": "e7e0a0a3fe1450ab",
        "name": "get lock",
        "func": "\nlet LockID = env.get(\"lock_sensor\");\n\nmsg.data = {\n    \"lock_sensor\":LockID\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 80,
        "wires": [
            [
                "1d9a25a17aa6ba88"
            ]
        ]
    },
    {
        "id": "1d9a25a17aa6ba88",
        "type": "change",
        "z": "e7e0a0a3fe1450ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lock_sensor",
                "pt": "flow",
                "to": "${lock_sensor}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "6852f52d3913dd2f"
            ]
        ]
    },
    {
        "id": "6852f52d3913dd2f",
        "type": "switch",
        "z": "e7e0a0a3fe1450ab",
        "name": "Light Locked?",
        "property": "lock_override",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "f832a942c4a42ff9"
            ],
            []
        ]
    },
    {
        "id": "2aac704b012aedce",
        "type": "tab",
        "label": "Office",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c0eb4b2743c994b",
        "type": "eztimer",
        "z": "2aac704b012aedce",
        "name": "7:30 am Monday",
        "debug": false,
        "autoname": "7:30",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "-33.796386",
        "lon": "151.112123",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "7:30",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "3",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "sun": false,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "4436cc43085ae632"
            ]
        ]
    },
    {
        "id": "7ab02e87277bd129",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn On Fridge/Coffee",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "3e36645b7d8aaf243b6f16b97d663633"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2923b3fc04f59903",
        "type": "eztimer",
        "z": "2aac704b012aedce",
        "name": "End of Day",
        "debug": false,
        "autoname": "17:30:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "-33.796386",
        "lon": "151.112123",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "17:30:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "3",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "e799f574aa0f4e4e"
            ]
        ]
    },
    {
        "id": "e799f574aa0f4e4e",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn off Office plugs",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_wall_l"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "18610afe4634fd34"
            ]
        ]
    },
    {
        "id": "e2cda74f47854c92",
        "type": "comment",
        "z": "2aac704b012aedce",
        "name": "Office Lighting",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "d552cd44f0753f88",
        "type": "subflow:e7e0a0a3fe1450ab",
        "z": "2aac704b012aedce",
        "name": "Office Light Bright",
        "env": [
            {
                "name": "max_percentage",
                "value": "90",
                "type": "num"
            },
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "kelvin",
                "value": "3500",
                "type": "num"
            },
            {
                "name": "transition",
                "value": "3",
                "type": "num"
            },
            {
                "name": "min_percentage",
                "value": "1",
                "type": "num"
            },
            {
                "name": "low_lux_level",
                "value": "100000",
                "type": "num"
            }
        ],
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "a78338e7ce54aa0d",
        "type": "delay",
        "z": "2aac704b012aedce",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "761309f9a4dcc918"
            ]
        ]
    },
    {
        "id": "d380193a9d0ec4bc",
        "type": "server-state-changed",
        "z": "2aac704b012aedce",
        "name": "Desk Plug off",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "switch.office_wall_l"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c9e869127c56316e"
            ],
            []
        ]
    },
    {
        "id": "c9e869127c56316e",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn off Spotify",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "media_player.media_pause",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.spotify_graham"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "media_player",
        "service": "media_pause",
        "x": 320,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a6566cdbcc3d2325",
        "type": "server-state-changed",
        "z": "2aac704b012aedce",
        "name": "Office Motion",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.0xa4c1380ce7f7b699_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 500,
        "wires": [
            [
                "3148b898f51c8853"
            ],
            [
                "ab598cc99ee0c888"
            ]
        ]
    },
    {
        "id": "3148b898f51c8853",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Desk On?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.office_wall_l",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 280,
        "y": 420,
        "wires": [
            [],
            [
                "6792262db476a171"
            ]
        ]
    },
    {
        "id": "6792262db476a171",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "WFH today?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.wfh_today",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "2896620de9293e45"
            ],
            [
                "406075432e2f161c"
            ]
        ]
    },
    {
        "id": "406075432e2f161c",
        "type": "subflow:e7e0a0a3fe1450ab",
        "z": "2aac704b012aedce",
        "name": "Office Light Bright",
        "env": [
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "kelvin",
                "value": "3500",
                "type": "num"
            },
            {
                "name": "transition",
                "value": "3",
                "type": "num"
            },
            {
                "name": "min_percentage",
                "value": "1",
                "type": "num"
            },
            {
                "name": "low_lux_level",
                "value": "100000",
                "type": "num"
            }
        ],
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "2896620de9293e45",
        "type": "time-of-day",
        "z": "2aac704b012aedce",
        "name": "Daytime (7am to 2pm)",
        "startTime": "07:00:00",
        "endTime": "14:00:00",
        "outputs": 2,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "409714f28242bf20"
            ],
            [
                "6b43622be8f4ba6d"
            ]
        ]
    },
    {
        "id": "409714f28242bf20",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn On Office plugs",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_wall_l"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 880,
        "y": 440,
        "wires": [
            [
                "e3aaa77867b66cf1"
            ]
        ]
    },
    {
        "id": "e3aaa77867b66cf1",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Office Light On?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.hue_filament_bulb_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "d5c70cb792f3c68d"
            ],
            []
        ]
    },
    {
        "id": "d17df243ad3429ee",
        "type": "subflow:954d68603b93f059",
        "z": "2aac704b012aedce",
        "name": "Office Light Off",
        "env": [
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "transition",
                "value": "4",
                "type": "num"
            }
        ],
        "x": 1460,
        "y": 440,
        "wires": []
    },
    {
        "id": "18610afe4634fd34",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "WFH today?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.wfh_today",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "59b563d5a6d8ebb4"
            ],
            []
        ]
    },
    {
        "id": "59b563d5a6d8ebb4",
        "type": "change",
        "z": "2aac704b012aedce",
        "name": "Set to 'on' msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 300,
        "wires": [
            [
                "a78338e7ce54aa0d",
                "d552cd44f0753f88"
            ]
        ]
    },
    {
        "id": "6b43622be8f4ba6d",
        "type": "subflow:e7e0a0a3fe1450ab",
        "z": "2aac704b012aedce",
        "name": "Office Light Bright",
        "env": [
            {
                "name": "max_percentage",
                "value": "90",
                "type": "num"
            },
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "kelvin",
                "value": "3500",
                "type": "num"
            },
            {
                "name": "transition",
                "value": "3",
                "type": "num"
            },
            {
                "name": "min_percentage",
                "value": "1",
                "type": "num"
            },
            {
                "name": "low_lux_level",
                "value": "100000",
                "type": "num"
            }
        ],
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "d28255db525e8936",
        "type": "comment",
        "z": "2aac704b012aedce",
        "name": "do nothing if desk on",
        "info": "",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "e426a68f981ca827",
        "type": "inject",
        "z": "2aac704b012aedce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "e799f574aa0f4e4e"
            ]
        ]
    },
    {
        "id": "4436cc43085ae632",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn On Wall Socket",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_wall_r"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "8230058f4bb05702"
            ]
        ]
    },
    {
        "id": "5f6348a95f6eae71",
        "type": "inject",
        "z": "2aac704b012aedce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 20,
        "wires": [
            [
                "4436cc43085ae632"
            ]
        ]
    },
    {
        "id": "a59bc67225b3bb2f",
        "type": "inject",
        "z": "2aac704b012aedce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "409714f28242bf20"
            ]
        ]
    },
    {
        "id": "fe40b53aa51b6e59",
        "type": "server-state-changed",
        "z": "2aac704b012aedce",
        "name": "Fridge off",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "switch.plug_orange"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9a109106f4e1beae",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "Turn off wall socket",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_wall_r"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 330,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "85be942e8be803ed",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "turn off purple2 plug",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.plug_purple_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "2b1d6aae23eaa3e0"
            ]
        ]
    },
    {
        "id": "6154b347b213b442",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Heater On (PurplePlug2)?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "10",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.plug_purple_2_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 950,
        "y": 660,
        "wires": [
            [
                "85be942e8be803ed"
            ],
            []
        ]
    },
    {
        "id": "98e88e9919b57555",
        "type": "change",
        "z": "2aac704b012aedce",
        "name": ">10W to Boolean",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload > 10 ? true : false",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "088374968eb53905"
            ]
        ]
    },
    {
        "id": "088374968eb53905",
        "type": "rbe",
        "z": "2aac704b012aedce",
        "name": "Filter True/False",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 540,
        "y": 680,
        "wires": [
            [
                "419d208c2a7cd29e"
            ]
        ]
    },
    {
        "id": "419d208c2a7cd29e",
        "type": "switch",
        "z": "2aac704b012aedce",
        "name": "Split True/False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "6154b347b213b442"
            ],
            []
        ]
    },
    {
        "id": "f43b957db18eaa06",
        "type": "server-state-changed",
        "z": "2aac704b012aedce",
        "name": "Coffee Power",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.plug_yellow_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "gt",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 680,
        "wires": [
            [
                "98e88e9919b57555"
            ]
        ]
    },
    {
        "id": "d5c70cb792f3c68d",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Light Lock?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.officelightlock_switch",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1290,
        "y": 440,
        "wires": [
            [],
            [
                "d17df243ad3429ee"
            ]
        ]
    },
    {
        "id": "761309f9a4dcc918",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Light Lock?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.officelightlock_switch",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1090,
        "y": 320,
        "wires": [
            [],
            [
                "69638e3177b87bba"
            ]
        ]
    },
    {
        "id": "69638e3177b87bba",
        "type": "subflow:954d68603b93f059",
        "z": "2aac704b012aedce",
        "name": "Office Light Off",
        "env": [
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "transition",
                "value": "4",
                "type": "num"
            }
        ],
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab598cc99ee0c888",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "Light Lock?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.officelightlock_switch",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 307,
        "y": 588,
        "wires": [
            [],
            [
                "f6084893be8c3075"
            ]
        ]
    },
    {
        "id": "f6084893be8c3075",
        "type": "subflow:954d68603b93f059",
        "z": "2aac704b012aedce",
        "name": "Office Light Off",
        "env": [
            {
                "name": "entity_id",
                "value": "light.hue_filament_bulb_1",
                "type": "str"
            },
            {
                "name": "transition",
                "value": "4",
                "type": "num"
            }
        ],
        "x": 507,
        "y": 608,
        "wires": []
    },
    {
        "id": "2b1d6aae23eaa3e0",
        "type": "api-call-service",
        "z": "2aac704b012aedce",
        "name": "turn back on purple2 plug",
        "server": "178754b9.fedf4b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.plug_purple_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 1450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "123f165766ca9553",
        "type": "server-state-changed",
        "z": "2aac704b012aedce",
        "name": "plug purple 2 Power",
        "server": "178754b9.fedf4b",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.plug_purple_2_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "10",
        "ifStateType": "num",
        "ifStateOperator": "gt",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 630,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8230058f4bb05702",
        "type": "api-current-state",
        "z": "2aac704b012aedce",
        "name": "WFH today?",
        "server": "178754b9.fedf4b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.wfh_today",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "7ab02e87277bd129"
            ],
            []
        ]
    },
    {
        "id": "178754b9.fedf4b",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "6a3743ca2b7a8b9c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-eztimer": "1.2.7",
            "node-red-contrib-time-of-day": "0.0.4"
        }
    }
]